# Enable Rewrite Engine
RewriteEngine On

# Force HTTPS (optional but recommended)
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove www (optional)
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# Rewrite rules for specific pages
RewriteRule ^/$ sign.php [L,QSA]
RewriteRule ^sign-in$ sign-in.php [L,QSA]
RewriteRule ^sign-up$ sign-up.php [L,QSA]
RewriteRule ^sign-out$ sign-out.php [L,QSA]
RewriteRule ^track$ track.php [L,QSA]


# Rewrite rules for other pages
# Route to controller, not view 
RewriteRule ^dashboard$ routes/web.php?url=dashboard [L,QSA]
RewriteRule ^profile$ routes/web.php?url=profile [L,QSA]
RewriteRule ^add_batch$ routes/web.php?url=add_batch [L,QSA]
RewriteRule ^add_livestock$ routes/web.php?url=add_livestock [L,QSA]
RewriteRule ^add_sale$ routes/web.php?url=add_sale [L,QSA]
RewriteRule ^add_loss$ routes/web.php?url=add_loss [L,QSA]
RewriteRule ^add_health_record$ routes/web.php?url=add_health_record [L,QSA]
RewriteRule ^add_growth_log$ routes/web.php?url=add_growth_log [L,QSA]

#routes with data
RewriteRule ^batch/([0-9]+)$ routes/web.php?url=batch&batch=$1 [L,QSA]
RewriteRule ^livestock/([0-9]+)$ routes/web.php?url=livestock&livestock=$1 [L,QSA]
#update route
RewriteRule ^update_batch$ routes/web.php?url=update_batch [L,QSA]

#delete routes
RewriteRule ^delete_sale/([0-9]+)/([0-9]+)$ routes/web.php?url=delete_sale&id=$1&batchID=$2 [L,QSA]
RewriteRule ^delete_loss/([0-9]+)/([0-9]+)$ routes/web.php?url=delete_loss&id=$1&batchID=$2 [L,QSA]
RewriteRule ^delete_growth_log/([0-9]+)/([0-9]+)$ routes/web.php?url=delete_growth_log&id=$1&batchID=$2 [L,QSA]
RewriteRule ^delete_health_record/([0-9]+)/([0-9]+)$ routes/web.php?url=delete_health_record&id=$1&batchID=$2 [L,QSA]
RewriteRule ^delete_batch/([0-9]+)$ routes/web.php?url=delete_batch&id=$1 [L,QSA]
RewriteRule ^delete_livestock/([0-9]+)$ routes/web.php?url=delete_livestock&id=$1 [L,QSA]



#RewriteRule ^blog/([0-9]+)$ blog.php?id=$1 [L,QSA]  # Example for blog post with ID
#RewriteRule ^blog/category/([a-zA-Z0-9_-]+)$ blog.php?category=$1 [L,QSA]  # Example for blog category


# Catch-all: Rewrite all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# Prevent direct access to view files
##<FilesMatch "\.(php)$">
##    Order Deny,Allow
##    Deny from all
##</FilesMatch>


# Custom Error Pages
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
